################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMX_More4u_Web/FileContentIndex
/.vs/MoreForYou/v17
/.vs/ProjectEvaluation
