@model MoreForYou.Services.Models.API.UserSetting

@{
    ViewData["Title"] = "MySetting";
    Layout = "~/Views/Shared/_More4ULayout2.cshtml";

}
<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="images/user/user-thumb.jpg" alt="" class="">
                        </div>
                        <!-- User Name -->
                        @*<h5 class="text-center">@Model.employeeName</h5>*@
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit Profile</h2>
                    <p></p>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Profile Picture</h3>
                            <form action="#">
                                <!-- File chooser -->
                                <div class="form-group choose-file d-inline-flex">
                                    <i class="fa fa-user text-center px-3"></i>
                                    @*<input asp-for="" class="form-control-file mt-2 pt-1" id="input-file">*@
                                </div>
                                <!-- Submit button -->
                                <button class="btn btn-transparent">Save My Changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <div class="widget change-password">
                            <h3 class="widget-header user">Edit Password</h3>
                            <form action="#">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password">
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password">
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password">
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}